.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;  
  width: 100%;

  hr {
    width: 100%;
    border: 1px solid var(--slate-gray);
    border-bottom: 0;
  }

  @media (width >= 1080px) {
    max-width: 1200px;
    flex-direction: row;
  }
}

.form__section {
  display: flex;
  flex-direction: column;  
  border: 1px solid var(--slate-gray);
  border-radius: 28px;
  padding: 1.5rem;
  min-height: 300px;

  &:first-child {
    background-color: var(--gunmetal);
  }

  &:last-child {
    background-color: var(--mid-night-blue);
  }

  @media (width >= 1080px) {
    flex-grow: 1;
  }
}

.form__textarea {
  font-size: var(--medium-font-size);
  flex-grow: 1;
}

.form__footer {
  display: flex;
  justify-content: space-between;
  align-items: end;

  section {
    display: flex;
    gap: 0.5rem;
  }
}

.form__counter {
  text-align: right;
  color: var(--slate-gray);
}

.btn {
  cursor: pointer;
}

.btn-outline {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 2px solid var(--slate-gray);
  border-radius: 12px;
  aspect-ratio: 1/1;
  transition: 0.25s all;

  .stroke-dynamic {
    stroke: var(--slate-gray);
    transition: 0.25s all;
  }

  .fill-dynamic {
    fill: var(--slate-gray);
    transition: 0.25s all;
  }

  &:hover {
    border-color: var(--royal-blue);
    transition: 0.25s all;
    
    .stroke-dynamic {
      stroke: var(--royal-blue);
      transition: 0.25s all;
    }

    .fill-dynamic {
      fill: var(--royal-blue);
      transition: 0.25s all;
    }
  }
}

.btn-primary {
  display: flex;
  align-items: center;
  background-color: var(--royal-blue);
  color: var(--ghost-white);
  border: 1px solid var(--cornflower-blue);
  padding: 0.7rem 1.5rem;
  border-radius: 12px;
  transition: 0.25s all;
  font-weight: var(--semi-font-weight);

  svg path {
    stroke: var(--ghost-white);
    transition: 0.25s all;
  }

  &:hover {
    background-color: var(--cornflower-blue);
    color: var(--royal-blue);
    transition: 0.25s all;
    
    svg path{
      stroke: var(--royal-blue);
      transition: 0.25s all;
    }
  }

  @media screen and (min-width: 640px) {
    font-size: var(--medium-font-size);
  }
}
