.with-list {
  display: flex;
  align-items: center;
  gap: 1rem;

  select {
    padding: 0.5rem;    
    border-radius: 5px;
    background-color: transparent;
    border: 0;
    color: var(--slate-gray);
    font-size: var(--small-font-size);
    font-weight: var(--semi-font-weight);
    outline: none;
    

    @media screen and (min-width: 640px) {
      font-size: var(--medium-font-size);
    }
  }
}
