.card-translate {
  background-color: var(--gunmetal);
  border: 1px solid var(--slate-gray);
  border-radius: 1.5rem;
  padding: 1.5rem 1rem 1.5rem 1rem;
  margin-bottom: 1rem;
  font-size: var(--small-font-size);
  overflow: hidden;  

  @media screen and (min-width: 640px) {
    font-size: var(--medium-font-size);
    padding: 2rem 1.5rem 1.5rem 1.5rem;
  }
}

.card-translate__header {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  overflow-x: scroll;
  -ms-overflow-style: none;  

  &::-webkit-scrollbar {
    display: none;
  }
}

.language-options {    
  color: var(--slate-gray);    
  display: flex;
  gap: 1rem;

  input[type="radio"] {
    appearance: none;
    margin: 0;
  }
}

.language-radio-control {
  display: block;
}

.language-radio + label {    
  text-transform: capitalize;
  text-wrap: nowrap;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  border-radius: 0.75rem;
  cursor: pointer;
  font-weight: var(--bold-font-weight);
}

.language-radio:checked + label {
  background-color: var(--slate-gray);
  color: var(--ghost-white);
}

hr {
  border: 0.25px solid var(--raisin-black);
}

textarea {
  padding: 1rem 0;
  font-size: var(--small-font-size);
  background-color: transparent;
  font-family: var(--main-font-family);
  font-weight: var(--bold-font-weight);
  color: var(--ghost-white);
  border: none;
  resize: none;
}

textarea:focus {
  outline: none;
}

.card-translate__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.card-translate__buttons {
  display: flex;
  gap: 0.5rem;

  button {
    background-color: transparent;
    border: 2px solid var(--slate-gray);
    border-radius: 0.75rem;   
    aspect-ratio: 1/1; 
    transition: 0.25s all;

    &:hover {
      border-color: var(--royal-blue);
      transition: 0.25s all;

      .stroke-dynamic {
        stroke: var(--royal-blue);
        transition: 0.25s all;
      }

      .fill-dynamic {
        fill: var(--royal-blue);
        transition: 0.25s all;
      }
    }
  }

  .stroke-dynamic {
    stroke: var(--slate-gray);
    transition: 0.25s all;
  }

  .fill-dynamic {
    fill: var(--slate-gray);
    transition: 0.25s all;
  }
}

.card-translate__count {
  text-align: right;
  color: var(--slate-gray);
  margin-bottom: 0;
  font-size: var(--small-font-size);
}

.language-select {
  margin-left: 1rem;
  text-transform: capitalize;
  background: transparent;
  border: 0;
  color: var(--slate-gray);
  font-size: var(--small-font-size);
  font-weight: var(--semi-font-weight);
  padding: 0.5rem;
  outline: none;
  border-radius: 0.75rem;

  &.selected {
    background-color: var(--slate-gray);
    color: var(--ghost-white);
  }

  @media screen and (min-width: 640px) {
    font-size: var(--medium-font-size);
  }  
}

textarea {
  width: 100%;
  
  @media screen and (min-width: 640px) {
    font-size: var(--medium-font-size);
  }  
}
