* {
  font-family: var(--main-font-family);
}

#root {
  height: 100%;
}

body {
  background-color: var(--black);
  background-image: url('/hero_img.jpg');
  background-position: top;
  background-size: auto;
  background-repeat: no-repeat;
  height: 100vh;  
  margin: 0;  


  @media screen and (min-width: 1024px){
    background-size: contain;
  }
}


